<div flex="100" layout="row">
  <button [disabled]="layoutOpen" layout="row" flex="50"
          layout-align="center center"
          md-button class="text-upper"
          (click)="openSide(true)">
    <md-icon>list</md-icon>
  </button>
  <button [disabled]="!layoutOpen" layout="row" flex="50"
          layout-align="center center"
          md-button class="text-upper"
          (click)="openSide(false)">
    <md-icon>place</md-icon>
  </button>
</div>
<app-branding flex="100" layout="row"
              layout-align="center center"></app-branding>

