<div flex="100" layout="row">
  <button layout="row" flex="50"
          (click)="changeMain('list')"
          layout-align="center center"
          md-button class="text-upper">
    <md-icon>list</md-icon>
  </button>
  <button layout="row" flex="50"
          (click)="changeMain('map')"
          layout-align="center center"
          md-button class="text-upper">
    <md-icon>place</md-icon>
  </button>
</div>
<app-branding flex="100" layout="row"
              layout-align="center center"></app-branding>

