language: node_js
node_js:
  - 6.9

dist: trusty
sudo: required

branches:
  only:
    - master
    - staging

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  yarn: true
  directories:
    - node_modules

before_install:
  - npm install -g firebase-tools@3.5.0
  - npm install -g @angular/cli@1.0.0-rc.2

install:
  - npm install

before_script:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - ./ci/setup.sh
  - ./ci/test.sh
  - 'if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then ./ci/build.sh; fi'

after_success:
  - 'if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then ./ci/deploy.sh; fi'

notifications:
  email: false
