<div flex="100" flex-gt-xs="50" flex-gt-sm="60" flex-gt-md="40"
  layout="row" layout-align="start center">
  <app-geolocator flex="none" (onGeolocate)="geolocate()"></app-geolocator>

  <app-input-search flex
    layout="row" layout-align="start center"
    [focus]="doFocus"
    [address]="geoAddress"
    (onSearch)="search($event)">
  </app-input-search>
</div>

<app-radius-filter flex="100" flex-gt-xs="50" flex-gt-sm="40" flex-gt-md="30"
  [distances]="[1, 2, 3, 5]"
  [currentRadius]="currentRadius$ | async"
  (onChangeRadius)="changeRadius($event)">
</app-radius-filter>

<app-branding flex hide show-gt-md></app-branding>
