<td-layout-manage-list #placesList
                       [opened]="(media.registerQuery('gt-sm') | async) || (layoutOpen$ | async)"
                       [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '300px' : '100%'">

  <!-- places list -->
  <md-toolbar td-sidenav-content>
    <div td-toolbar-content layout="row"
         layout-align="start center" flex="90"
         *ngIf="media.registerQuery('xs') | async">
      <md-icon md-list-icon class="tc-grey-600">center_focus_weak</md-icon>
      <span class="tc-grey-600 small">
        {{address$ | async}}
      </span>
    </div>

    <td-notification-count color="warn" [notifications]="(places$ | async)?.length">
    </td-notification-count>
    <span *ngIf="media.registerQuery('gt-xs') | async"
          class="md-caption tc-dark-red-B100">resultats</span>
  </md-toolbar>

  <md-nav-list td-sidenav-content>
    <template *ngIf="!(selectedPlace$ | async)" let-place let-last="last"
              ngFor [ngForOf]="(places$ | async)">
      <app-places-list-item (showDetail)="onChangeSelectedPlace($event)"
                            [place]="place"></app-places-list-item>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </template>

    <md-list-item
      *ngIf="!(places$ | async)?.length && !(pending$ | async) && !(selectedPlace$ | async)">
      <p md-line>sense resultats...</p>
    </md-list-item>

    <!-- place detail -->
    <router-outlet></router-outlet>

  </md-nav-list>

  <!-- places map -->
  <div td-toolbar-content layout="row"
       layout-align="start center" flex>
    <md-icon md-list-icon class="tc-grey-600">center_focus_weak</md-icon>
    <span class="tc-grey-600 small">
      {{address$ | async}}
    </span>
  </div>
  <app-leaflet-map [center]="(center$ | async)"
                   [places]="(places$ | async)"
                   [mapVisible]="(layoutOpen$ | async)"
                   [selectedPlaceKey]="(selectedPlace$ | async)?.$key"
                   (setSelectedPlace)="onChangeSelectedPlace($event)">
  </app-leaflet-map>

</td-layout-manage-list>
