"name","address","zip","city","latitude","longitude","telephone","email","web","group","type"
"the name","the address","00000","the city","00.00000","00.00000","999 999 999","email@email.com","www.the-web.com","the group","the type"
