<td-layout-nav>

  <!-- main geo-header => geocoder | input-search | radius btns | branding -->
  <app-geo-header td-toolbar-content
    layout="row"
    layout-fill
    layout-wrap
    layout-align="start center"
    (geolocationPending)="geolocationPending = $event">
  </app-geo-header>

  <!-- activity indicator on geosearch, radius change or geolocation -->
  <app-activity-indicator
    [pending]="(searchPending$ | async) || geolocationPending">
  </app-activity-indicator>

  <!-- routing => places list || places map -->
  <router-outlet></router-outlet>

  <!-- footer (mobile) -->
  <td-layout-footer hide-gt-md>
    <app-footer
      [layoutOpen]="layoutOpen$ | async"
      (openSideNav)="onOpenSideNav($event)">
    </app-footer>
  </td-layout-footer>

</td-layout-nav>
