<td-layout-nav>
  <!-- main geo-header => input-search | geocoder | radius btns | branding -->
  <app-geo-header td-toolbar-content
                  layout-fill
                  layout-wrap
                  layout="row"
                  layout-align="center center" flex>

  </app-geo-header>
  <md-progress-bar *ngIf="resultData === 'Waiting'"
                   color="accent"
                   mode="indeterminate">
  </md-progress-bar>
  <!-- places list -->
  <div>{{ currentCenter.address }} ({{ currentCenter.lat }} , {{ currentCenter.long }})
  </div>
  <p>{{ resultData }}</p>
  <button (click)="changeRadius(0.5)">500 mts</button>
  <button (click)="changeRadius(1)">1 km</button>
  <button (click)="changeRadius(2)">2 kms</button>
  <ul>
    <h2>Places in {{currentCenter.radius}} kms</h2>
    <li *ngFor="let place of currentCenter.placesList">
      {{place.name}} {{place.distance | number :'1.2-3'}} km away
    </li>
  </ul>

  <td-layout-footer>
    ... main footer content
  </td-layout-footer>
</td-layout-nav>
