// Fill the fields and rename the file

const firebaseConfig = {
    apiKey: "YOUR-API-KEY",
    authDomain: "YOUR-APP.firebaseapp.com",
    databaseURL: "https://YOUR-APP.firebaseio.com",
    storageBucket: "YOUR-APP.appspot.com",
    messagingSenderId: "YOUR-MESSAGING-SENDER-ID"
};

export { firebaseConfig };