const MAPZEN_API_KEY = 'YOUR-MAPZEN-KEY';
const MAPZEN_BASE_URL = 'https://search.mapzen.com/v1';
export const MAPZEN_SEARCH_URL = `${MAPZEN_BASE_URL}/search`;
export const MAPZEN_REVERSE_URL = `${MAPZEN_BASE_URL}/reverse`;
export const SEARCH_PARAMS = {
  'boundary.country': 'ES',
  'sources': 'oa',
  'layers': 'address',
  'size': '1',
  'api_key': MAPZEN_API_KEY
};
