export const MAPZEN_API_KEY = 'YOUR-MAPZEN-KEY';
export const MAPZEN_BASE_URL = 'https://search.mapzen.com/v1/search';
export const SEARCH_PARAMS = {
  'boundary.country': 'ES',
  'sources': 'oa',
  'layers': 'address',
  'size': '1',
  'api_key': MAPZEN_API_KEY
};
