@import 'theme';

// <main header> //
@media (max-width: 960px) {
  md-toolbar {
    button.td-menu-button {
      display: none;
    }
    &.mat-primary {
      min-height: 64px;
      md-toolbar-row {
        height: 64px;
      }
    }
  }
}

@media (max-width: 600px) {
  md-toolbar {
    // text for toolbar list
    // just visible on mobile screeners
    .small {
      font-size: 16px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      box-sizing: border-box;
    }
    &.mat-primary {
      min-height: 120px;
      md-toolbar-row {
        height: 120px;
      }
    }
  }
}

// <places list items> //
a[md-list-item], .place-detail-box {
  opacity: 0;
  transform: translateX(-20px);
}
md-card-title > h3 {
  margin: 0;
}

// <app-activity-indicator> //
app-activity-indicator {
  height: 5px;
  z-index: 1;
}

// <geolocator button> //
app-geolocator button[md-icon-button] {
  background-color: mat-color($primary, 900);
}

// <geosearch input> //
// TODO - remove rule, should be fixed in Covalent Beta3
// https://github.com/Teradata/covalent/issues/412
app-input-search .td-search-input {
  height: 71px !important;
}

// <radius buttons> //
app-radius-filter button[md-mini-fab].va-radius-selected {
  background-color: mat-color($primary, 400);
}

// <app-footer mobile> //
app-footer button[disabled] {
  background-color: mat-color($accent);
}
